.navmain {
    padding: 8px 0 0 0;
}

.brand {
    padding: 15px 15px;
}

.main {
    margin: 0;
    padding: 0;
}

.buttn {
    margin: 0 15px;
}

@media screen and (max-width: 575px) {
    .abc {
        background-color: white;
        border: 2px solid black;
    }
}

.mainhead {
    font-size: 1.75rem;
}

.ckn {
    font-size: 1.25rem;
}

/* @media only screen and (max-width:575px) {
    .dummytext {
        margin: 0 4vw 0 4vw;
    }
} */